body {
    margin: 0;
    background: #f3f5f7;
    font-family: "Lexend Deca", sans-serif;
}

body header {
    background: linear-gradient(90deg, #574AE8 , #3EA1DB);
    color: #FFFFFF;
    height: 250px;
    padding: 0 20px; /* Garante 20px à esquerda e à direita no modo mobile */
}

body article {
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 0 20px; /* Garante 20px à esquerda e à direita no modo mobile */
}

#header-titulo {
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    display: flex; /* Isso aqui é oq permite os dois parágrafos na "mesma linha" */
    justify-content: space-between;
    margin-bottom: 70px;
    font-size: 24px;
}


#header-pesquisa {
    background: rgba(255, 255, 255, 0.2);
    max-width: 900px;
    height: 65px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    border: none;
    border-radius: 5px; /* Borda arredondada */
    gap: 10px; /* Espaço entre img e escrita */
}

#header-pesquisa img {
    margin-left: 20px;
}
  
form {
    width: 100%;
}

form input {
    width: 98%;
    padding: 15px 0 15px 0;
    outline: none;
    background: none;
    border: none;
    font: normal 18px 'Lexend Deca';
    color: #FFFFFF;
}
 
::-webkit-input-placeholder {
    width: 100%;
    color: #FFFFFF;
    opacity: 0.6;
}

#retangulo {
    max-width: 860px;
    margin: 0 auto;
    padding: 15px 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 50px;

}

#data {
    align-items: center;
    display: flex; 
    justify-content: space-between;
}

#retangulo p {
    font-size: 18px;
    color: #717171;
    margin: 10px;
}

#retangulo h2 {
    font-size: 26px;
    margin: 0 10px 10px 10px;
}