:root {
    --bgsite: #0E091B;
    --bgcard: #171228;

    --title: #F9F9F9;
    --text: #AEAEAE;

    --green: #04D361;
    --purple: #873EFF;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--title);
}
a:hover {color: var(--title);}

body {background: var(--bgsite);}

.top {margin-top: 50px;}

.top-bar, .group-top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-codelandia {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: var(--title);
    margin-top: 15px;
}

.meu-github {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: var(--title);
    margin: 15px 30px 15px 0;
}

.btn-enter {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: var(--title);

    background: var(--bgsite);
    border-radius: 5px;
    border-color: var(--purple);
    height: 50px;
}
.btn-enter:hover {background: var(--purple);}

h5 {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

h1 {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    color: var(--title);
}

p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 170%;
    color: var(--text);
}

.top-text {margin: 85px 0;}

.comunidade-dev {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--green);
}

.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
}

.card {
    width: 480px;
    height: 400px;
    box-sizing: border-box;
    border: 1px solid var(--purple);
    border-radius: 8px;
    background: var(--bgcard);

    display: flex;
    align-items: center;
    padding: 20px;
}

img {
    width: 440px;
    height: 220px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.title-card {
    color: var(--title);
    margin-bottom: 25px;
}

.btn-card {
    margin: 0 10px;
    width: 160px;
    height: 42px;
    border-radius: 4px;
    border-color: #04D361;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
}

.btn-demo {background: var(--green);}
.btn-git {background: var(--bgcard);}

.btn-demo:hover {background: var(--bgcard);}
.btn-git:hover {background: var(--green);}

footer {
    margin-top: 120px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4 {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--purple);
}

@media (max-width: 1200px){
    h1{font-size: 48px;}
}

@media (max-width: 600px){
    h1{font-size: 36px;}
    h5, p {font-size: 18px;} 
    .card {
        width: 384px;
        height: 320px;
    }
    img {
        width: 344px;
        height: 172px;
        margin-bottom: 20px;
    }
    .title-card {margin-bottom: 15px;}
    .btn-card {margin: 0;}
}

@media (max-width: 424px){
    .card {
        width: 288px;
        height: 240px;
    }
    img {
        width: 248px;
        height: 124px;
        margin-bottom: 12px;
    }
    .title-card {
        margin-bottom: 8px;
        font-size: 16px;
    }
    .btn-card {
        margin: 0;
        width: 120px;
        height: 32px;
    }
}

@media (min-width: 2000px) {html{zoom: 1.6;}}